.form {
  width: 60%;
  max-width: 45rem;
  margin: 4rem auto;
}

.size {
  width: 40px;
  height: 25px;
  margin: 5px 10px;
}

.formInput {
  margin-bottom: 1rem;
  text-align: left;
}

.form__input label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form__input input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}
.form__input_size label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.form_button__actions {
  margin-top: 10px;
  text-align: left;
}
.form_button__actions button {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
