.tshirt__items{
    width: 60%;
    max-width: 45rem;
    margin: 4rem auto;
    padding: 10px 10px;
    border: 2px solid #b0abab;
    
}

.tshirt{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.btn{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin:0 10px;
}