.contain{
    padding: 0 !important;
}
.span{
    float: right;
    padding-left: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navRow{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.header_top{
    background-color: #838181;
    width: 100%;
    height: 10rem;
    padding: 0;
}

a{
    color: #fff !important;
    text-decoration: none !important;
}

.active{
    background-color: #686565;
    padding: 2px 4px;
}